.sectionTitle {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.navigation {
    display: flex;
    gap: 24px;
    align-items: center;
}

.navLinks {
    color: black;
    font-size: 16px;
    position: relative;
    font-weight: 400;
}

.navLinks:hover::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--teal);
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 60px 0;
    flex-direction: column;
    gap: 40px;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
}

.profileBox {
    width: 75px;
    height: 75px;
    position: relative;
    cursor: pointer;
}

.profilePic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.addImg {
    position: absolute;
    bottom: 5px;
    right: 0;
    background-color: rgba(5, 5, 5, 0.77);
    border-radius: 50%;
    padding: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 590px;
    align-items: center;
}

.input, select {
    padding: 6px 0;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(27, 27, 27, 0.1);
    font-size: 1rem;
    font-weight: 400;
    color: rgba(27, 27, 27, 0.9);
    margin-bottom: 8px;
    width: 100%;
}

label {
    font-size: 14px;
    font-weight: 400;
    color: rgba(27, 27, 27, 0.6);
    width: 100%;
}

.input::placeholder {
    color: rgba(27, 27, 27, 0.6);
    font-size: 1rem;
    font-weight: 400;
}

.formSubmitBtn {
    background-color: var(--teal);
    border: none;
    width: max-content;
    padding: 14px 75px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 14px;
    margin-top: 40px;
}