.homeMainContainer {
    width: 100%;
    height: 660px;
    background-image: url("../../assets/main-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.titleBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    text-align: center;
    transform: translateY(-40px);
}

.title {
    font-size: 48px;
    font-weight: 700;
}

.subTitle {
    font-size: 24px;
    font-weight: 400;
}

.mainFormSection {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 32px;
    background-color: white;
    border-radius: 23px;
    width: 100%;
    max-width: 1440px;
    position: absolute;
    bottom: -80px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.formTitle {
    font-size: 20px;
    font-weight: 700;
}

.inputBox {
    display: flex;
    gap: 24px;
}

.inputs {
    padding: 13px 16px;
    border-radius: 3px;
    background-color: rgba(249, 249, 249, 0.9);
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
}

.formSubmitBtn {
    padding: 12px 57px;
    border: none;
    background-color: var(--teal);
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 18px;
    cursor: pointer;
}

.section2 {
    padding-top: 120px;
    padding-bottom: 30px;
}

.section2 .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.section2Title {
    font-size: 24px;
    font-weight: 700;
}

.navigation {
    display: flex;
    gap: 24px;
    align-items: center;
}

.navLinks {
    color: black;
    font-size: 1rem;
    position: relative;
    font-weight: 400;
}

.navLinks:hover::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--teal);
}

.courseCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}

.courseCardImgBox {
    overflow: hidden;
    border-radius: 23px;
    height: 205px;
}

.courseCardImg {
    width: 100%;
    transition: all .2s ease-in-out;
    object-fit: cover;
    height: 100%;
}

.courseCardItems {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.courseCardItems:hover .courseCardImg {
    transform: scale(1.1);
}

.courseCardTitle {
    font-size: 1rem;
    font-weight: 700;
}

.courseCardUserBox {
    display: flex;
    gap: 7px;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: rgba(27, 27, 27, 0.6);
}

.courseCardRating {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(27, 27, 27, 0.6);
}

.courseCardPriceBox {
    display: flex;
    align-items: center;
    gap: 4px;
}

.courseCardPrice {
    font-size: 20px;
    font-weight: 700;
    color: rgba(27, 27, 27, 0.9);
}

.courseCardUnPrice {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(27, 27, 27, 0.6);
    text-decoration: line-through;
}

.bigOffer {
    width: 100%;
    background-color: rgba(27, 40, 63, 1);
    color: white;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.bigOfferLeft {
    padding: 60px 0 60px 60px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
}

.offerTitle {
    font-size: 32px;
    font-weight: 700;
}

.bigOfferRight {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.bigOfferRight img {
    border-radius: 12px;
}

.offerSubTitle {
    font-size: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

.offerBtn {
    width: max-content;
    padding: 12px 20px;
    border: none;
    background-color: var(--teal);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 3px;
}