.header {
    display: flex;
    width: 100%;
    max-width: 1440px;
    padding: 8px 0;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.mainHeaderBox {
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.195);
    display: flex;
    justify-content: center;
    z-index: 999;
}

.rightBar {
    display: flex;
    align-items: center;
    gap: 18px;
}

.rightBarItems {
    display: flex;
    gap: 8px;
    border-radius: 12px;
    padding: 9px 16px;
    box-sizing: content-box;
    font-weight: 700;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rightBarItems:nth-child(2) {
    border: 1px solid rgba(27, 27, 27, 0.9);
}

.rightBarItems:nth-child(3) {
    background-color: var(--teal);
    color: white;
}

.searchForm {
    width: 100%;
    max-width: 600px;
    height: 37px;
    display: flex;
    align-items: center;
    background-color: rgba(249, 249, 249, 0.9);
    padding: 10px;
    border-radius: 3px;
}

.rightBarCartItem {
    padding: 0;
    cursor: pointer;
}

.searchInput {
    width: 100%;
    height: 21px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    background: transparent;
}