.footer {
    display: flex;
    width: 100%;
    max-width: 1440px;
    flex-direction: column;
}

.mainFooterBox {
    display: flex;
    justify-content: center;
    background-color: var(--dark);
}

.top {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.rows {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.elements a, .bottom p {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    opacity: .8;
}

.bottom {
    border-top: 1px solid rgba(249, 249, 249, 0.2);
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
}

.bottom div {
    display: flex;
    gap: 24px;
    align-items: center;
}