* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    /* Bold */
    font-style: normal;
}

body {
    font-family: 'Gilroy', sans-serif;
}

:root {
    --teal: #3DCBB1;
    --dark: #1B1B1B;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1440px;
}

img {
    width: max-content;
    height: max-content;
}